/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
/* Анимация заполнения сердца */
.core {
  transition: fill 0.3s 0.03s;
}

.main-body {
  transition: fill 0.3s;
}

.contour {
  transition: fill 0.1s;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s 0.06s;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s;
}

@keyframes sparks-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}