/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/



.page {
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--text-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-position: center;
  background-image: var(--bg-pattern);
  background-size: cover;
  background-attachment: fixed;
}

.logopc {
  width: var(--logo-width);
}

.header {
  height: var(--header-height);
  min-height: 327px;
  margin: 100px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;

  background-color: #fff;
  border: solid 2px #000;
  width: var(--block-width);
  gap: 20px;
}

/* ватермарк, шрифт, кнопки
всплывающее окно, ховер-элементы, */

.post-header {
  /* font-style: 'Inter'; */
  font-size: 18px;
  font-weight: 715;
  margin: 5px;
  
  /* font-style: bold; */
}

.header-logo {
  font-size: var(--logo-size);
  /* min-height: 83px;  */
  /* font-family: 'Press Start 2P', regular; */
  font-weight: 400;
  display: grid;
  justify-self: center;
  align-self: center;
  margin: 0;
  /* width: 343px; */
}

.header-title {
  font-size: var(--title-size);
  /* font-family: 'Press Start 2P', regular; другой шрифт для заголовка */
  font-weight: 400;
  margin: 0;
  text-transform: lowercase;
}

.post {
  margin: 50px 0 0 0;
  background-color: #fff;
  border: solid 2px #000;
  width: var(--block-width);
  justify-self: center;
  align-self: center;
}

.post-text {
  margin: 20px;
  line-height: 21px;
  font-size: 18px;
}

.post-image {
  width: 100%;
}

.footer {
  height: var(--header-height);
  min-height: 84px;
  width: var(--footer-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;

  margin: 50px 20px 100px 20px;
  background-color: #fff;
  border: solid 2px #000;
}


/* кнопка */
.card__like-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  /* gap: 5px; */
}
.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  border: 2px solid #000;
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease;
}
.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
.card__like-button:hover::before {
  transform: translateX(0);
}
.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}
.button__text {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  transition: color 0.5s;
}
.card__like-button:hover .button__text {
  color: #fff;
}