/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/



.page {
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--text-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-position: center;
  background-image: var(--bg-pattern);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.logo-group {
  width: var(--logo-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


.header-title {
  font-weight: 400;
  margin: 0;
  font-family: var(--accent-font);
  text-transform: uppercase;
    font-size: var(--header-title);
    font-variation-settings: "wght" var(--title-weight);
   text-align: center;


}


.header {
  height: var(--header-height);
  min-height: 327px;
  margin: 100px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;

  background-color: #fff;
  border: solid 2px #000;
  width: var(--block-width);
  gap: 20px;
}

/*  осталось - починить цветные границы у картинки и сделать прозрачным ватермарк,анимации сердца */

.post-header {
  /* font-style: 'Inter'; */
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight);
  margin: 5px;
}

.header-logo {
  font-size: var(--logo-size);

  font-weight: 400;
  display: grid;
  justify-self: center;
  align-self: center;
  font-family: var(--accent-font);
}



.post {
  margin: 50px 0 0 0;
  background-color: #fff;
  border: solid 2px #000;
  width: var(--block-width);
  justify-self: center;
  align-self: center;
}

.post-text {
  margin: 20px;
  line-height: 21px;
  font-size: 18px;

}

.post-image {
  width: 100%;
  overflow: hidden;
  display: block;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  line-height: 0;
}

.watermark {
  position:absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  margin: 0;
  font-family: var(--accent-font);
  font-size: 14px;
  color: #000;
   mix-blend-mode: difference;
   
  
  text-shadow: 
    -1px -1px 0 rgba(255, 255, 255, 0.5),
    1px -1px 0 rgba(255, 255, 255, 0.5),
    -1px 1px 0 rgba(255, 255, 255, 0.5),
    1px 1px 0 rgba(255, 255, 255, 0.5); /* Белая обводка с прозрачностью 0.5 */
    opacity: 0,7;
}
/* Вторая картинка */
.post:nth-of-type(2) .post-image {
  filter: sepia(60%) ;
}

/* Третья картинка */
.post:nth-of-type(3) .post-image {
  filter: saturate(300%);
 
}

/* Четвертая картинка */
.post:nth-of-type(4) .post-image {
  filter: sepia(50%) contrast(80%) saturate(150%);
}

/* Пятая картинка */
.post:nth-of-type(5) .post-image {
  filter: invert(80%);
}

/* Шестая картинка */
.post:nth-of-type(6) .post-image {
  filter: grayscale(70%) sepia(70%);
}

/* Седьмая картинка */
.post:nth-of-type(7) .post-image {
  filter: blur(10px);
  margin: 0 -5px;
width: calc(100% + 10px);
}

/* Восьмая картинка */
.post:nth-of-type(8) .post-image {
  filter: hue-rotate(90deg) blur(1px);  
}

.footer {
  width: var(--footer-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;

  margin: 50px 20px 100px 20px;
  background-color: #fff;
  border: solid 2px #000;
}

.footer-title {
  font-variation-settings: "wght" var(--title-weight);
font-family: var(--accent-font);
font-size: 14px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 84px;
  padding: 15px;
  cursor: pointer;
}

@media (width <= 376px) {
  .footer-content {

  flex-direction: column;
  gap: 10px;
  }
}

.diskette-icon {
  fill: #000;
  transition: fill 0.3s ease;
  width: 32px;
  height: 32px;
}

.footer:hover .diskette-icon {
  fill: #fff;
}

/* кнопка */
.card__like-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  gap: 5px;
}

.card__icon-button {
  width: 38px;
  height: 38px;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}


/* Стили для иконки сердца */
.like-icon {
  width: 39px;
  height: 36px;
  cursor: pointer;
  transform-origin: center;
}

/* Состояния по умолчанию для частей сердца */
.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}
.like-icon .heart {
  transform-origin: center;
}
/* Ховер на сердечко */
.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

/* Активное состояние (зажатие) */
.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.1s linear;
}

/* Состояние лайкнуто */
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked.contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s;
}

/* Стили для кнопки с иконкой сердца */
.card__icon-button {
  background: transparent;
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
   width: 39px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  border-color: var(--contour-color);
}


.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  border: 2px solid #000;
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease;
}
.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
.card__like-button:hover::before {
  transform: translateX(0);
}
.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}
.button__text {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  transition: color 0.5s;
}
.card__like-button:hover .button__text {
  color: #fff;
}

/* здесь и далее - о диалоге */






/* Стили для модального окна */
.dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 20px 30px 20px 30px;
  border: 2px solid #000;
  background-color: #fff;
  width: var(--dialog-width);
  height: 191px;
  display: none;
  overflow: hidden;
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

/* Отключаем скролл страницы когда диалог открыт */
body:has(.dialog[open]) {
  overflow: hidden;
}

.dialog-open {
  overflow: hidden;
}

.dialog__content {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dialog__header {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dialog__diskette {
  width: 39px;
  height: 39px;
  color: #000;
  flex-shrink: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: block;
}

.dialog__diskette svg {
  width: 100%;
  height: 100%;
  display: block;
}

.dialog__title {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  max-width: 80%;
  
}

.dialog__form {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.dialog__button {
  width: var(--dialog-button-width);
  height: 38px;
}

