/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--text-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-position: center;
  background-image: var(--bg-pattern);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.logo-group {
  width: var(--logo-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.header-title {
  font-weight: 400;
  margin: 0;
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: var(--header-title);
  font-variation-settings: "wght" var(--title-weight);
  text-align: center;
}

.header {
  margin: 100px 0 95px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  background-color: #fff;
  border: solid 2px #000;
  width: var(--block-width);
  gap: 20px;
  padding: 130px 0 130px 0;
}

.post-header {
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight);
  margin: 0 10px;
  line-height: 145%;
}

.header-logo {
  font-size: var(--logo-size);
  font-weight: 400;
  display: grid;
  justify-self: center;
  align-self: center;
  font-family: var(--accent-font);
}

.button-common {
  position: relative;
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease, box-shadow 0.3s ease;
  padding: 0;
}

.button-common:hover::before {
  transform: translateX(0);
}
.post {
  margin: 50px 0 0 0;
  background-color: #fff;
  border: solid 2px #000;
  width: var(--block-width);
  justify-self: center;
  align-self: center;
}

.post-text {
  margin: 25px;
  line-height: 21px;
  font-size: 18px;
}

.post-image {
  width: 100%;
  overflow: hidden;
  display: block;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  line-height: 0;
}

.watermark {
  position: absolute;
  line-height: 100%;
  right: 25px;
  top: 25px;
  z-index: 1;
  margin: 0;
  font-family: var(--accent-font);
  font-size: 14px;
  color: #000;
  mix-blend-mode: hard-light;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5),
    1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5),
    1px 1px 0 rgba(255, 255, 255); /* Белая обводка с прозрачностью 0.5 */
  opacity: 0.5;
}
@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .watermark {
    -webkit-text-stroke: 1px rgba(255, 255, 255); /* для Safari */
    text-stroke: 1px rgba(255, 255, 255); /* для остальных */
    text-shadow: none; /* убираем тени */
  }
}
/* Вторая картинка */
.sepia .post-image {
  filter: sepia(60%);
}

/* Третья картинка */
.saturate .post-image {
  filter: saturate(300%);
}

/* Четвертая картинка */
.light-sepia .post-image {
  filter: sepia(50%) contrast(80%) saturate(150%);
}

/* Пятая картинка */
.invert-green .post-image {
  filter: invert(80%);
}

/* Шестая картинка */
.grayscale .post-image {
  filter: grayscale(70%) sepia(70%);
}

/* Седьмая картинка */
.blur .post-image {
  filter: blur(10px);
  margin: 0 -5px;
  width: calc(100% + 10px);
}

/* Восьмая картинка */
.red-invert .post-image {
  filter: hue-rotate(90deg) blur(1px);
}

.save-card-title {
  font-variation-settings: "wght" var(--title-weight);
  font-family: var(--accent-font);
  font-size: 14px;
  width: 100%;
  color: #000;
  mix-blend-mode: difference;
   transition: color 0.5s ease; /* Плавный переход */
  z-index: 1;
}

/* кнопка */

/* Стили для иконки сердца */

/* Состояния по умолчанию для частей сердца */
.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}
.like-icon .heart {
  transform-origin: center;
}
/* Ховер на сердечко */
.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

/* Активное состояние (зажатие) */
.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.1s linear;
}

/* Состояние лайкнуто */
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s;
}

/* Стили для кнопки с иконкой сердца */
.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  block-size: 38px;
  inline-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: transparent;
}
.like-icon {
  block-size: 36px;
  inline-size: 39px;
  cursor: pointer;
  transform-origin: center;
  overflow: visible;
  padding-right: 5px;
}
.card__like-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 25px 25px;
  gap: 6px;
}

.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  border-color: var(--contour-color);
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid #000;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button-common:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.button__text {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  transition: color 0.5s;
  z-index: 1;
}

.card__like-button:hover .button__text {
  color: #fff;
}

.dialog__button {
  width: var(--dialog-button-width);
  height: 38px;
}

.save-card {
  width: var(--footer-width);
  height: var(--save-button-height);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  margin: 50px 20px 100px 20px;
  background-color: #fff;
  border: solid 2px #000;
  padding: 0 15px;
  cursor: pointer;
 
}

.save-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.save-card:hover::before {
  transform: translateX(0);
}






@media (width >= 376px) {
  .diskette-icon {
    min-width: 21px;
    max-width: 29.25px;
    padding-top: 5px;
    margin-left: 3px;
  }
  .save-card {
    flex-direction: row;
  }
}
@media (width <= 376px) {
  .save-card {
    min-height: 84px;
    flex-direction: column;
  }
  .diskette-icon {
    min-width: 28px;
    margin-left: 10px;
  }
  .post-header {
    line-height: 137.5%;
  }
  .header {
    padding: 120px 0 120px 0;
    margin: 100px 0 100px 0;
  }
}

.diskette-icon {
  fill: currentColor;
  height: auto;
  z-index: 1;
   position: relative;
}
.dialog__diskette {
  min-width: 39px;
  height: auto;
  color: #000;
  flex-shrink: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: block;
}
/* здесь и далее - о диалоге */
/* Стили для модального окна */
.dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 30px;
  border: 2px solid #000;
  background-color: #fff;
  width: var(--dialog-width);
  display: none;
  justify-items: center;
  align-content: center;
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

/* Отключаем скролл страницы когда диалог открыт */
body:has(.dialog[open]) {
  overflow: hidden;
}

.dialog__content {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.dialog__header {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog__title {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  max-width: 74%;
}

.dialog__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
