/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/



.page {
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--text-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-position: center;
  background-image: var(--bg-pattern);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.logo-group {
  width: var(--logo-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


.header-title {
  /* font-family: 'Press Start 2P', regular; другой шрифт для заголовка */
  font-weight: 400;
  margin: 0;
  font-family: var(--accent-font);
  text-transform: uppercase;
    font-size: var(--header-title);
    font-variation-settings: "wght" var(--title-weight);
   text-align: center;
    /* justify-self: center;
  align-self: center; */

}


.header {
  height: var(--header-height);
  min-height: 327px;
  margin: 100px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;

  background-color: #fff;
  border: solid 2px #000;
  width: var(--block-width);
  gap: 20px;
}

/*  кнопки, переделать 
всплывающее окно, ховер-элементы, */

.post-header {
  /* font-style: 'Inter'; */
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight);
  margin: 5px;
  
  /* font-style: bold; */
}

.header-logo {
  font-size: var(--logo-size);

  font-weight: 400;
  display: grid;
  justify-self: center;
  align-self: center;
  font-family: var(--accent-font);
}



.post {
  margin: 50px 0 0 0;
  background-color: #fff;
  border: solid 2px #000;
  width: var(--block-width);
  justify-self: center;
  align-self: center;
}

.post-text {
  margin: 20px;
  line-height: 21px;
  font-size: 18px;
}

.post-image {
  width: 100%;
}

.image-container {
  position: relative;
}
/* .image-container.watermark::after {
  content: "&lt;/HTML&gt;";
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: var(--accent-font);
  font-size: 14px;
  color: #000;
  z-index: 2;
  text-shadow: 
    -1px -1px 0 rgba(255, 255, 255, 0.5),
     1px -1px 0 rgba(255, 255, 255, 0.5),
    -1px  1px 0 rgba(255, 255, 255, 0.5),
     1px  1px 0 rgba(255, 255, 255, 0.5);
  mix-blend-mode: darken;
  pointer-events: none;
} */

.watermark {
  position:absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  margin: 0;
  font-family: var(--accent-font);
  font-size: 14px;
  color: #000;
  text-shadow: 
    -1px -1px 0 rgba(255, 255, 255, 0.5),
    1px -1px 0 rgba(255, 255, 255, 0.5),
    -1px 1px 0 rgba(255, 255, 255, 0.5),
    1px 1px 0 rgba(255, 255, 255, 0.5); /* Белая обводка с прозрачностью 0.5 */
}
/* Вторая картинка */
.post:nth-of-type(2) .post-image {
  filter: sepia(60%) ;
}

/* Третья картинка */
.post:nth-of-type(3) .post-image {
  filter: saturate(300%);
 
}

/* Четвертая картинка */
.post:nth-of-type(4) .post-image {
  filter: sepia(50%) contrast(80%) saturate(150%);
}

/* Пятая картинка */
.post:nth-of-type(5) .post-image {
  filter: invert(80%);
}

/* Шестая картинка */
.post:nth-of-type(6) .post-image {
  filter: grayscale(70%) sepia(70%);
}

/* Седьмая картинка */
.post:nth-of-type(7) .post-image {
  filter: blur(10px);
}

/* Восьмая картинка */
.post:nth-of-type(8) .post-image {
  filter: hue-rotate(90deg) blur(1px);  
}

.footer {
  height: var(--header-height);
  min-height: 84px;
  width: var(--footer-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;

  margin: 50px 20px 100px 20px;
  background-color: #fff;
  border: solid 2px #000;
}

.footer-title {
  font-variation-settings: "wght" var(--title-weight);
font-family: var(--accent-font);
font-size: 14px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.diskette-icon {
  fill: #000;
  transition: fill 0.3s ease;
}

.footer:hover .diskette-icon {
  fill: #fff;
}

/* кнопка */
.card__like-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  gap: 5px;
}

.card__icon-button {
  width: 38px;
  height: 38px;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.like-icon {
  height: 27px;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  border: 2px solid #000;
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease;
}
.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
.card__like-button:hover::before {
  transform: translateX(0);
}
.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}
.button__text {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  transition: color 0.5s;
}
.card__like-button:hover .button__text {
  color: #fff;
}