/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-pattern: 
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
/* Объявляем CSS переменные с clamp() */
  --header-height: clamp(327px, 91.2vw, 368px);
  --block-width: clamp(375px, 48.5vw, 1440px);
  --footer-width: clamp(306px,50vw,335px);
  --logo-width: clamp(343px,50vw,455px);
  --logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-title: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --dialog-button-width: clamp(261px, 50vw, 293px);
  --dialog-width: clamp(341px, 50vw, 353px);
  /* Шрифты */
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  /* Насыщенность шрифта */
  --text-weight: 400;
  --title-weight: 700;
/* Переменные для цветов сердца */
  --contour-color: #000;
  --animation-fill-color: #f00;
  --save-button-height: clamp(55px, 5vh ,84px);
  --discette-icon-width: clamp(21px, 2em, 28px);
  --discette-icon-height: clamp(21px, 2em, 28px);
}
